  .gameboard{
    display: flex;
  }

  .container {
    display: grid;
    grid-gap: 10px;
    color: #444;
    border: 5px solid grey;
    border-radius: 10px;
    padding: 15px 50px;
    grid-template-columns: repeat(4, 1fr);
  }

  .col_4{
    grid-template-columns: repeat(4, 1fr);
  }

  .col_5{
    grid-template-columns: repeat(5, 1fr);
  }

  .col_6{
    grid-template-columns: repeat(6, 1fr);
  }

  .col_7{
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  }

  .blue {
    background-color: rgb(52, 18, 204);
  }
  .red {
    background-color: rgb(204, 18, 18);
  }
  .green {
    background-color: rgb(6, 240, 45);
  }
  .yellow {
    background-color: rgb(228, 231, 15);
  }      
  .purple {
    background-color: rgb(206, 7, 163);
  }